awscli
aws-okta-processor
boto3
docker
sceptre
-e git+ssh://git@github.secureserver.net/cloud/sceptre-hooks-resolvers.git#egg=gd-sceptre-hooks-resolvers
-e git+ssh://git@github.secureserver.net/auth-contrib/PyAuth.git@7.2.2#egg=PyAuth
tartufo
pre-commit
