boto3>=1.18.24
botocore>=1.21.24
certifi==2021.5.30
charset-normalizer==2.0.4
configparser==5.0.2
ecs-logging==1.0.1
future==0.18.3
idna==3.2
jmespath==0.10.0
JSON-log-formatter==0.4.0
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
trustar==0.3.35
tzlocal==2.1
unicodecsv==0.14.1
urllib3==1.26.6
